*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 font-family: 'Poppins', sans-serif;
 color:#ffffff
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

ul {
  display: inline;
  list-style: none;
}

body{
  display: flex;
}

section#menu{
  width: 18vw;
  height: 100vh;
  background: #1D2540;
  padding-top: 2em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.395);
}

section#menu h1{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color:#ffffff;


}

section#menu h1 span{
  color: #8DBF21;
}

section#menu #navbar{
  width: 100%;
  padding: 2em;
}

section#menu #navbar p{
  font-weight: 300;
  text-align:center;
}

#navbar ul li {
  margin-top: 2em;
  text-align: left;
  width: 100%;
  list-style-type: none;
  
}


#navbar ul li a{
  color: #ffffff;
}

#navbar ul li a:hover{
  color: #8DBF21;
  border-bottom: 2px solid #8DBF21;
}

#footer{
  padding: 2em;
}

#footer p{
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

section#content{
  width: 82vw;
  height: 100vh;
  
}